# 動画やキャプチャなどのメディアファイルを取得するサーバーのベースURL
# JSONのベースURLは、サーバーのconfig.yamlのhostとschemesに基づいて自動生成される。
# カスタマイズする場合は、このファイルも編集する必要がある。

VITE_API_BASE_URL=http://localhost:8000

# Tailescaleを使う場合は以下を設定
# VITE_API_BASE_URL=http://{serverのTailescale IPアドレス}:8000

# Caddyを使う場合は以下を設定
# VITE_API_BASE_URL=https://{serverのhost}
