{
	admin :2019
}

https://{$LOCAL_DOMAIN} {
	tls internal

	handle /api/v1/* {
		reverse_proxy http://backend:8000
	}

	handle {
		reverse_proxy http://frontend:3000
	}

	log {
		level info
	}
}

localhost {
	reverse_proxy localhost:8000
}

https://{$VPN_IP}{
    reverse_proxy localhost:8000
    tls internal
}