app.local {
  tls internal

  header / {
    X-Frame-Options "SAMEORIGIN"
    X-Content-Type-Options "nosniff"
  }

  reverse_proxy /api/* backend:8000
  reverse_proxy / frontend:3000

  log {
    level info
  }
}

localhost {
  tls internal

  header / {
    X-Frame-Options "SAMEORIGIN"
    X-Content-Type-Options "nosniff"
  }

  reverse_proxy /api/* backend:8000
  reverse_proxy / frontend:3000

  log {
    level info
  }
}
