# CommentPlayer サーバー設定

# データベース設定
db:
  dsn: "app.db"
  max_open_conns: 10
  max_idle_conns: 5
  log_level: "silent"

# ログ設定
log:
  level: "info"
  format: "json"


# --------------------------------
# 以下ユーザー設定
# --------------------------------

# サーバー設定
server:
  host: "0.0.0.0" # Tailscale等を使う場合はそのIPアドレスにする
  port: 8000
  jwt_secret: "your_jwt_secret_key_here" # Openssl等でJWTシークレットを生成する
  schemes: "http"  # Caddyを使う場合はHTTPにする、デフォルトはHTTP

# スクリーンショット保存先
storage:
  captures_dir: "C:\\Users\\user\\Pictures\\Screenshots"

# 動画ファイル名(拡張子抜き)の名前パターン
series:
  patterns:
    - "{title}{episode}" # ex. frielen01.mp4の場合
    - "{title}-{episode}" # ex. frielen2-01.mp4の場合
    
    # 以下にパターンを追加