.dplayer-controller {
  transform: scaleY(0.9);
  transform-origin: bottom;
  
  dplayer-icon {
    transform: scale(0.8) translateY(-5px);
    padding-right: 4px;
    transform-origin: bottom;
  }
}
